/* css for fonts */
@font-face {
  font-family: vazir;
  src: url(../fonts/Vazir-Regular.woff) format("woff");
}

/* css for icons */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?aahc0j');
  src:  url('../fonts/icomoon.eot?aahc0j#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?aahc0j') format('truetype'),
    url('../fonts/icomoon.woff?aahc0j') format('woff'),
    url('../fonts/icomoon.svg?aahc0j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-undo:before {
  content: "\e965";
}
.icon-ellipsis-v:before {
  content: "\f142";
}
/* css for website */
*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}
body{
  direction: rtl;
  font-family: vazir;
}
/* css for main */
.main-list{
  width: 84%;
  height: 91vh;
  float: right;
  position: relative;
}

/* css for header */
.card-header {
  position: relative;
  display: flex;
  align-items: center;
  width: 99%;
  height: 6vh;
  background-color: rgba(206, 200, 200, 0.771);
  margin: 0.3% 0.5%;
  padding-right: 20px;
  float: right;
  overflow: hidden;
}
.icon {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  margin-right: auto;
  margin-left: 20px;
  border: 2px solid white;
}
.icon > span{
  color: black;
}
.icon:hover{
  border: 2px solid black;
}
.extra{
  width: 60px;
  height: auto;
  font-size: 15px;
  font-weight: bold;
  background-color:#39dd41;
  border-radius: 15px;
  padding: 5px;
  text-align: center;
  border: 2px solid green;
  margin-right: 20px;
  text-transform: capitalize;
}

.card-content > form > fieldset{
  width: 96%;
  margin: 2%;
  border: 1px solid rgba(195, 190, 190, 0.804);
  padding: 5px 10px;
  float: right;
  position: relative;
}
.card-content > form > fieldset > .column{
  width: 23.75%;
  height: auto;
  float: right;
  margin-left: 1%;
  margin-top: 20px;
  margin-bottom: 70px;
}
.card-content > form > fieldset .column > input{
  width: 90%;
  height: 25px;margin-top: 5px;
  border: 1px solid rgba(128, 128, 128, 0.753);
}
.card-content > form > fieldset > .column > select{
  width: 90%;
  height: 25px;
  margin-top: 5px;
  border: 1px solid rgba(128, 128, 128, 0.753);
}
.search-form {
  position: absolute;
  top: 10%;
  right: 2%;
  width: 95%;
  height: auto;
  padding: 20px;
  display: flex;
  border: 1px solid gray;
  flex-wrap: wrap;
  gap: 20px; /* Add gap between search fields */
}

.search-form > div {
  flex: 1 1 25%; /* Make each field take the same width */
}

.search-form input[type="text"],
.search-form select {
  width: 100%; /* Set width to 100% for input fields and select boxes */
  box-sizing: border-box; /* Include padding and border in the width calculation */
}
.buttons-row {
  width: 100%;
  height: 40px;
  position: relative;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
}

.buttons-row > .recovery-btn > button,
.buttons-row > .search-btn > button {
  margin-left: 40px;
}

.buttons-row > .recovery-btn > button,
.buttons-row > .search-btn > button {
  width: 100%;
  height: 25px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid rgba(128, 128, 128, 0.753);
  border-radius: 4px;
  background-color: transparent;
  padding: 0 23px;

}

.buttons-row > .recovery-btn > button:hover,
.buttons-row > .search-btn > button:hover {
  background-color: gray;
  color: white;
}

.buttons-row > .search-btn > button {
  background-color: dodgerblue;
  color: white;
}

.buttons-row > .recovery-btn{
  margin-left: 20px;
}
.buttons-row > .search-btn > button:hover {
  background-color: rgb(21, 88, 155);
}

.table-component {
  position: absolute;
  top: 35%;
  right: 2%;
  width: 95%;
  padding: 20px;
}

.table-component table {
  width: 100%;
  border-collapse: collapse;
}

.table-component th,
.table-component td {
  padding: 7px;
  text-align: center;

}

.two-states {
  display: flex;
  flex-direction: row;
  height: 71px;
  align-items: center;
}

.state {
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin-left: 10px;
}

.state-active {
  color: #fa8c16;
  background: #fff7e6;
  border: 1px solid #ffd591;
}

.state-completed {
  color: #52c41a;
  background: #f6ffed;
  border: 1px solid #b7eb8f;
}

.state-externally-terminated {
  color: #f5222d;
  background: #fff1f0;
  border: 1px solid #ffa39e;
}

.two-states .priority {
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.priority-important {
  color: #f5222d;
  background: #fff1f0;
  border: 1px solid #ffa39e;
  padding: 2px 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.priority-normal {
  color: #fa8c16;
  background: #fff7e6;
  border: 1px solid #ffd591;
  padding: 2px 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
th{
  background-color: #e9e9e9;
}

td > a{
  text-decoration: none;
  color: dodgerblue;
}
td > .more{
  width: 30px;
  height: 30px;
  background-color: dodgerblue;
  display: inline-block;
  text-align: center;
  color: white;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
      -ms-border-radius: 50%;
       -o-border-radius: 50%;
          border-radius: 50%;
  line-height: 35px;
  position: relative;
}
.more .opt {
  display: none;
  width: 100px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0;
  transition: opacity 0.3s ease-in-out; /* Add transition effect for opacity */
}

.more:hover .opt {
  display: block;
  opacity: 1;
}


.more > .opt > ul{
  list-style: none;
}
.more > .opt > ul > li{
  width: 100%;
  height: 30px;
  text-align: right;
  padding-right: 10px;
  line-height: 30px;
  position: absolute;
  top: 0;
  left: 0;
}
.more > .opt > ul > li > a{
  text-decoration: none;
  color: black;
}
.more > .opt > ul > li:hover{
  background-color: #d9d9d9;
}
/* css for main content of view */
.main-view{
  width: 84%;
  height: 91vh;
  float: right;
}
.main-view > .title{
  width: 99%;
  height: 6vh;
  background-color: rgba(206, 200, 200, 0.771);
  margin: 0.3% 0.5%;
  line-height: 6vh;
  padding-right: 20px;
  float: right;
  position: relative;
}
.main-view > .title > span{
  color: black;
  font-family: vazir;
}
.main-view > .title > .state-btn{
  width: 45px;
  height: 25px;
  background-color: rgb(178, 231, 178);
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translate(20%, -50%);
  color: green;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
      -ms-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid green;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  line-height: 25px;
}
.main-view > .title > .different-btns{
  width: 250px;
  height: 35px;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-5%, -50%);
}
.main-view > .title > .different-btns > .btn{
  width: 32px;
  height: 32px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
      -ms-border-radius: 50%;
       -o-border-radius: 50%;
          border-radius: 50%;
  background-color: white;
  color: black;
  float: left;
  margin: 0 5px;
  text-align: center;
  font-size: 14px;
}
.main-view > .title > .different-btns > .btn > a{
  text-decoration: none;
  color: black;
}
.main-view > .title > .different-btns > .btn-2{
  background-color: rgb(70, 201, 34);
}
.main-view > .title > .different-btns > .btn-2 > a{
  color: white;
}
.main-view > .title > .different-btns > .btn-3{
  background-color: dodgerblue;
}
.main-view > .title > .different-btns > .btn-3 > a{
  color: white;
}
.main-view > .location-description{
  width: 99%;
  height: auto;
  margin: 0.3% 0.5%;
  float: right;
  position: relative;
  padding: 3% 1%;
}
.main-view > .location-description > .bigger-section{
  width: 25%;
  height: 60px;
  margin-bottom: 1%;
  float: right;
  position: relative;
  padding-right: 3%;
}
.bigger-section::before{
  content: "";
  width: 1px;
  height: 80%;
  background-color: gray;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
}
.main-view > .location-description > .section-4::before,
.main-view > .location-description > .section-8::before,
.main-view > .location-description > .section-12::before,
.main-view > .location-description > .section-16::before{
  content: "";
  display: none;
}
.bigger-section::after{
  content: "";
  width: 80%;
  height: 1px;
  background-color: gray;
  position: absolute;
  bottom: 0;
  right: 10%;
  opacity: 0.4;
}
.bigger-section > h6{
  color: rgba(128, 128, 128, 0.745);
}
.bigger-section > h5{
  color: #333333d5;
  font-weight: bold;
  margin-top: 5px;
}
.row-checkbox{
  position: absolute;
  top: 30%;
  right: 2%;
}
.row-checkbox > label{
  width: 100px;
  height: 100px;
  border-radius: 30px;
  background-color: greenyellow;
  padding: 7px;
}
.row-checkbox > label > input{
  margin: 5px;
}